.apDetails {
  background-image: url("../Images/m.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
}

.overlayApDetails {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.imageContainer {
  position: absolute;
  top: 15%;
  right: 0;
  width: 73%;
  height: 100%;
}

.ap-det-images {
  width: 100%;
  object-fit: cover;
  border: none;
  height: 100%;
}

.prop-details {
  width: 50%;
  position: absolute;
  left: 5%;
  top: 45%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 20px;
  color: white;
}

.title-property {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 4.4px;
  line-height: 52px;
  margin-bottom: 28px;
}
