/* Zone.css */

.zone-page {
  display: flex;
  background-color: #0B152C;
  color: white;
  min-height: 100vh;
}

.line-zone {
  width: 25%;
  height: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.sidebar {
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background-color: #0B152C;
  top: 25%;
}

.zone-title {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "SohneBreitHalbfettNormal", sans-serif;
}

.zone-subtitle {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: "SohneBreitHalbfettNormal", sans-serif;
}

.zone-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 75%;
}

.zone-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: 7 / 9; /* Set the aspect ratio to portrait */
}

.zone-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
  display: block;
  transition: transform 0.3s ease;
}

.zone-item:hover img {
  transform: scale(1.1);
}

.zone-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.zone-overlay .zone-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.zone-overlay .zone-description {
  font-size: 0.9em;
  margin: 5px 0 0;
}

@media (max-width: 1024px) {
  .zone-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .zone-page {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .zone-list {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
